*.tlog
*.pdb
Project/EUTS/Debug/
Project/EUTS/EUTS/Debug/vc120.idb
Project/EUTS/EUTS/Debug/EUTS.log
*.obj
*.suo
*.sdf
Project/EUTS/EUTS.opensdf
Project/EUTS/EUTS/EUTS.vcxproj.user
*.idb
*.log
*.ilk
*.opensdf
